.legs-page {
  text-align: center;
  padding: 2rem;
}

.legs-title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.legs-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.legs-card {
  width: 220px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #868686;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.legs-gif {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
}
